<a href="https://colab.research.google.com/github/dantae74/machine-learning/blob/main/kaggle/03-feature-engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### [이유한님] 캐글 스터디 강좌에서 가져왔습니다.

# Titanic 데이터 분석

In [ ]:
! pip install kaggle

In [ ]:
! mkdir ~/.kaggle

In [ ]:
# kaggle에서 로그인하여 계정에서 Account 탭에서 API -> Create New API Token을 다운로드하여 colab에 업로드 후 아래 실행

! cp kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
# Kaggle Competititions에서 과제 검색 -> Data에서 복사하여 실행

! kaggle competitions download -c titanic

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn')
sns.set(font_scale=2)

import missingno as msno

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [ ]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [ ]:
df_train['Family'] = df_train['SibSp'] + df_train['Parch'] + 1
df_test['Family'] = df_test['SibSp'] + df_test['Parch'] + 1

In [ ]:
for col in df_train.columns:
    print('column: {:>10}\t Percent of NaN value: {:.2f}%'.format(col, 100*df_train[col].isnull().sum()/df_train[col].shape[0]))

In [ ]:
for col in df_test.columns:
    print('column: {:>10}\t Percent of NaN value: {:.2f}%'.format(col, 100*df_test[col].isnull().sum()/df_test[col].shape[0]))

In [ ]:
df_train['Name']

In [ ]:
df_train['initial'] = df_train['Name'].str.extract('([a-zA-Z]+)\.')
df_test['initial'] = df_train['Name'].str.extract('([a-zA-Z]+)\.')

In [ ]:
df_train['initial']

In [ ]:
pd.crosstab(df_train['initial'], df_train['Sex']).T.style.background_gradient(cmap='summer_r')

In [ ]:
df_train['initial'].replace(['Mlle','Mme','Ms','Dr','Major','Lady','Countess','Jonkheer','Col','Rev','Capt','Sir','Don'],
                        ['Miss','Miss','Miss','Mr','Mr','Mrs','Mrs','Other','Other','Other','Mr','Mr','Mr'],inplace=True)

df_test['initial'].replace(['Mlle','Mme','Ms','Dr','Major','Lady','Countess','Jonkheer','Col','Rev','Capt','Sir','Don'],
                        ['Miss','Miss','Miss','Mr','Mr','Mrs','Mrs','Other','Other','Other','Mr','Mr','Mr'],inplace=True)

In [ ]:
df_train.groupby('initial').mean()

In [ ]:
df_test.groupby('initial').mean()

In [ ]:
df_train.groupby('initial')['Survived'].mean().plot.bar()

In [ ]:
df_all = pd.concat([df_train, df_test], ignore_index=True)

In [ ]:
df_all

In [ ]:
df_all.reset_index(inplace=True)

In [ ]:
df_all

In [ ]:
df_all.groupby('initial').mean()

In [ ]:
df_train.loc[(df_all['Age'].isnull()) & (df_all['initial']=='Mr'), 'Age'] = 32
df_train.loc[(df_all['Age'].isnull()) & (df_all['initial']=='Master'), 'Age'] = 15
df_train.loc[(df_all['Age'].isnull()) & (df_all['initial']=='Miss'), 'Age'] = 26
df_train.loc[(df_all['Age'].isnull()) & (df_all['initial']=='Mrs'), 'Age'] = 34
df_train.loc[(df_all['Age'].isnull()) & (df_all['initial']=='Other'), 'Age'] = 43

df_test.loc[(df_all['Age'].isnull()) & (df_all['initial']=='Mr'), 'Age'] = 32
df_test.loc[(df_all['Age'].isnull()) & (df_all['initial']=='Master'), 'Age'] = 15
df_test.loc[(df_all['Age'].isnull()) & (df_all['initial']=='Miss'), 'Age'] = 26
df_test.loc[(df_all['Age'].isnull()) & (df_all['initial']=='Mrs'), 'Age'] = 34
df_test.loc[(df_all['Age'].isnull()) & (df_all['initial']=='Other'), 'Age'] = 43

In [ ]:
df_train['Embarked'].isnull().sum()

In [ ]:
df_train['Embarked'].fillna('S', inplace=True)

In [ ]:
df_train['Embarked'].isnull().sum()

In [ ]:
def category_age(x):
  if x < 10:
    return 0
  elif x < 20:
    return 1
  elif x < 30:
    return 2
  elif x < 40:
    return 3
  elif x < 50:
    return 4
  elif x < 60:
    return 5
  elif x < 70:
    return 6
  else:
    return 7

In [ ]:
df_train['age_cat'] = 0
df_test['age_cat'] = 0

In [ ]:
df_train['age_cat'] = df_train['Age'].apply(category_age)
df_test['age_cat'] = df_test['Age'].apply(category_age)

In [ ]:
df_train.head()

In [ ]:
df_train.initial.unique()

In [ ]:
df_train.initial = df_train['initial'].map({'Master':0, 'Miss':1, 'Mr':2, 'Mrs':3, 'Other':4})
df_test.iniitial = df_test['initial'].map({'Master':0, 'Miss':1, 'Mr':2, 'Mrs':3, 'Other':4})

In [ ]:
df_train['initial']

In [ ]:
df_train.Embarked.unique()

In [ ]:
df_train.Embarked.value_counts()

In [ ]:
df_train.Embarked = df_train.Embarked.map({'C':0, 'Q':1, 'S':2})
df_test.Embarked = df_test.Embarked.map({'C':0, 'Q':1, 'S':2})

In [ ]:
df_train.Embarked.isnull().any()

In [ ]:
df_train['Sex'].unique()

In [ ]:
df_train.Sex = df_train.Sex.map({'female':0, 'male':1})
df_test.Sex = df_test.Sex.map({'female':0, 'male':1})

In [ ]:
df_train.head()

In [ ]:
heatmap_data = df_train[['Survived', 'Pclass', 'Sex', 'Embarked', 'initial', 'Family', 'age_cat', 'Fare']]

In [ ]:
heatmap_data.corr()

In [ ]:
colormap = plt.cm.BuGn
plt.figure(figsize=(10,8))
plt.title('Pearson Correlation of features', y=1.05, size=15)
sns.heatmap(heatmap_data.astype(float).corr(), linewidths=0.1, vmax=1.0, 
            cmap=colormap, linecolor='white', annot=True, annot_kws={'size':16}, fmt=".2f")