<a href="https://colab.research.google.com/github/dantae74/machine-learning/blob/main/stock-etc/99-02-rnn-lot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

모두를 위한 머신러닝에서 가져왔습니다.
# RNN-lot

In [3]:
import numpy as np
import tensorflow as tf
import pandas as pd
from tensorflow import keras
from tensorflow.keras import layers
from io import BytesIO
import requests

# 마지막 회차번호

In [4]:
# 마지막 회차 번호
noEnd ='968' 

# url
# url = 'https://dhlottery.co.kr/gameResult.do?method=allWinExel&gubun=byWin&nowPage=&drwNoStart=1&drwNoEnd={}'.format(noEnd)

url = f'https://dhlottery.co.kr/gameResult.do?method=allWinExel&gubun=byWin&nowPage=&drwNoStart=1&drwNoEnd={noEnd}'

# user-agent
user_agent = "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36"

In [5]:
result = requests.get(url, headers={"user-agent":user_agent})

In [6]:
result

In [7]:
f = BytesIO(result.content)
# df = pd.read_excel(f,sheet_name='excel',skiprows=3)
html_result = pd.read_html(f)

In [8]:
df_raw = pd.DataFrame(html_result[1])
# df = df.drop([0])
df_raw.head()

     0    1           2     3               4   ...    15    16    17    18    19
0    년도   회차         추첨일    1등              1등  ...  당첨번호  당첨번호  당첨번호  당첨번호  당첨번호
1    년도   회차         추첨일  당첨자수            당첨금액  ...     3     4     5     6   보너스
2  2021  968  2021.06.19    13  1,667,729,683원  ...    12    14    24    39    33
3  2021  967  2021.06.12     4  5,809,776,094원  ...    13    37    38    40     9
4  2021  966  2021.06.05    10  2,411,303,513원  ...    25    29    34    37    36

[5 rows x 20 columns]

In [9]:
# columns = [col for i, col in enumerate(df.iloc[0])]
# df.columns = columns
# columns

# column name 설정
col_names = [fn+sn if fn != sn else fn for fn, sn in zip(df_raw.iloc[0], df_raw.iloc[1])]  
df_raw.columns = col_names

# 0, 1행 삭제
df_lot = df_raw.drop([0,1], axis=0)

# 회차 컬럼 int로 형변환
df_lot = df_lot.astype({'회차':'int32'}, copy=True)

# 회차기준 오름차준 정렬
df_lot = df_lot.sort_values('회차', ascending=True)

# 회차필드 index로 설정
df_lot.set_index('회차', inplace=True)

df_lot.head(5)

      년도         추첨일 1등당첨자수          1등당첨금액  ... 당첨번호4 당첨번호5 당첨번호6 당첨번호보너스
회차                                           ...
1   2002  2002.12.07      0              0원  ...    33    37    40      16
2   2002  2002.12.14      1  2,002,006,800원  ...    25    32    42       2
3   2002  2002.12.21      1  2,000,000,000원  ...    21    27    31      30
4   2002  2002.12.28      0              0원  ...    31    40    42       2
5   2003  2003.01.04      0              0원  ...    40    41    42       3

[5 rows x 19 columns]

In [11]:
import numpy as np

# 당첨번호를 원핫인코딩벡터로 변환
def lotto2onehot(numbers):
    onehot = np.zeros(45)
    for number in numbers:
        onehot[int(number)-1] = 1 #로또번호에 해당하는 인덱스에 1로 설정 
    return onehot

# 원핫인코딩벡터를 당첨번호로 변환
def onehot2lotto(onehots):
    numbers = [i+1 for i, val in enumerate(onehots) if val == 1]
    return numbers

In [14]:
lotto = [1,3,5,7,9,11]
onehot_lotto = lotto2onehot(lotto)
print(onehot_lotto)
onehot2lotto(onehot_lotto)

[1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

[1, 3, 5, 7, 9, 11]